@import "../../style/lib/vars.scss";

.dashboard-container{
  background-image: url('./assets/grill.jpg');
  background-position: center;
  background-repeat: repeat-y;
  background-size: 77vw;
  background-color: $primary;
}
