@import "../../style/lib/vars.scss";

.dashboard-container{
  background-image: url('./assets/lips.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 77vw;
  background-color: $black;
}
