@import "src/style/lib/vars.scss";

.title{
  background-color: $black;
  border-bottom: 1em solid  $secondary;
  padding: 3%;
  display:flex;
  align-items:center;
  justify-content: space-evenly;
   box-sizing: border-box;
}

.grillimg{
  width: 15vw;
}
