@import "src/style/lib/vars.scss";

.title{
  background-color: $black;
  padding: 3%;
  display:flex;
  align-items:center;
  justify-content: space-evenly;
  box-sizing: border-box;
  box-shadow: 0 8px 8px 0 $tertiery;
  h1{
    filter: drop-shadow(0px 12px 7px rgba(255, 215, 0, 0.5));
  }
}

.grillimg{
  width: 15vw;
}

.shadowfilter {
    -webkit-filter: drop-shadow(0px 12px 7px rgba(255, 215, 0, 0.5));
     filter: drop-shadow(0px 12px 7px rgba(255, 215, 0, 0.5));
}

.gold-text {
    color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url('../assets/gold.png') repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}
